main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
    background-image: url('../images/background_game.jpg');
    background-size: 300px 300px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.2em;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
}

.grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    justify-content: center;
    justify-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 94px;
    cursor: pointer;
    perspective: 1000px;
    border-radius: 2px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    background-color: #ccc;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 5px solid #333;
    border-radius: 2px;
    transition: all 400ms ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('../images/capa.jpeg');
    backface-visibility: hidden;
}

.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}

.grid-easy {
    grid-template-columns: repeat(6, 1fr);
    max-width: 600px;
    justify-items: center;
}

.grid-medium {
    grid-template-columns: repeat(8, 1fr);
    max-width: 900px;
    justify-items: center;
}

.grid-hard {
    grid-template-columns: repeat(9, 1fr);
    max-width: 1200px;
    justify-items: center;
}

footer {
    background-color: #87CEEB; 
    color: #fefefe;
    text-align: center;
    padding: 8px 10px;  
    font-size: 12px;    
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

footer img {
    max-height: 18.763px;
    height: auto;       
    width: auto;        
    vertical-align: middle;
}

@media screen and (max-width:920px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);

    }
}

