.div-form {
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
}

.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_header img {
    width: 300 px;
}

.login_header h1 {
    margin-bottom: 35px;
    color: #161616;
    font-size: 3em;

}

.login_input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 20px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login_button {
    background-color: #0044a3;
    padding: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    max-width: 300px;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #333;
}

.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

body {
    background-image: url('../images/fundo1.jpg');
    background-size: 112%;

}

.dificulty {
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
}

footer {
    overflow: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32.8px;
    background-color: #20B2AA;  
    color: #fefefe;
    text-align: center;
    padding: 8px 10px;  
    font-size: 12px;    
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

footer img {
    max-height: 18.763px;
    height: auto;       
    width: auto;        
    vertical-align: middle;
}